<div class="top-row pl-4 navbar ">
    <a class="navbar-brand" href="">C2H5OH</a>
    <ul class="nav">
        <li class="navbar-item">
            <NavLink class="navbar-link" href="ByName">
                By Name
            </NavLink>
        </li>
        <li class="navbar-item">
            <NavLink class="navbar-link" href="ByLabel">
                By Label
            </NavLink>
        </li>
        <li class="navbar-item">
            <NavLink class="navbar-link" href="ByMap">
                By Map
            </NavLink>
        </li>
        <li class="navbar-item">
            <NavLink class="navbar-link" href="Contribution">
                Contribution
            </NavLink>
        </li>
    </ul>
</div>