@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --nav-font-size: 20px;
}

html, body {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

.main, .content {
    width: 100%;
    height: 100%;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #aaaaaa;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

/* For background particle effect*/
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/* For error message*/
.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* For nav component*/
.navbar-link {
    margin-left: 20px;
    font-size: var(--nav-font-size);
}

/* Index */
.index-main {
    width: 100%;
    height: 100%;
    position: relative;
}

.index-main-left {
    width: 50%;
    height: 100%;
    position: absolute;
}

.index-search {
    border-style: none;
    border-bottom-style: groove;
    background-color: lightgrey;
    opacity: 0.8;
    height: 100px;
    width: 300px;
    position: absolute;
    margin-top: 254px;
    right: 0;
}

.index-title {
    background-color: lightgrey;
    opacity: 0.95;
    height: 100px;
    width: 300px;
    left: 0;
    font-size: 64px;
}

.index-main-righttop {
    margin-bottom: 20px;
    width: 80%;
}

.index-main-rightbottom {
    margin-top: 10px;
    width: 80%;
}

.index-main-righttop > p, .index-main-rightbottom > p {
    font-size: 64px;
    font-family: 'Noto Sans SC';
    font-weight: 100;
    color: gray;
    margin-top: -30px;
    margin-bottom: -30px;

    transition: transform 0.3s ease;
    transform: translateX(0px);
}

.index-main-righttop > p:hover, .index-main-rightbottom > p:hover, .index-main-right-result > p:hover {
     transform: translateX(30px);
}

.index-main-right-result > p {
    font-size: 32px;
    font-family: 'Noto Sans SC';
    margin-bottom: -5px;
    transition: transform 0.3s ease;
}

.index-main-right-result > p:hover {
    background-color: lightgray;
}

.index-main-right {
    width: 50%;
    height: 100%;
    position: absolute;
    margin-left: 50%;
}
